* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 1.7 !important;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: #606060; }

.h1-res {
  font-size: 150%; }

.h2-res {
  font-size: 145%; }

.h3-res {
  font-size: 135%; }

.h4-res {
  font-size: 135%; }

.h5-res {
  font-size: 135%; }

@media (min-width: 576px) {
  .h1-res {
    font-size: 170%; }
  .h2-res {
    font-size: 140%; }
  .h3-res {
    font-size: 125%; }
  .h4-res {
    font-size: 125%; }
  .h5-res {
    font-size: 125%; } }

@media (min-width: 768px) {
  .h1-res {
    font-size: 200%; }
  .h2-res {
    font-size: 170%; }
  .h3-res {
    font-size: 140%; }
  .h4-res {
    font-size: 125%; }
  .h5-res {
    font-size: 125%; } }

@media (min-width: 992px) {
  .h1-res {
    font-size: 200%; }
  .h2-res {
    font-size: 170%; }
  .h3-res {
    font-size: 140%; }
  .h4-res {
    font-size: 125%; }
  .h5-res {
    font-size: 125%; } }

@media (min-width: 1200px) {
  .h1-res {
    font-size: 250%; }
  .h2-res {
    font-size: 200%; }
  .h3-res {
    font-size: 170%; }
  .h4-res {
    font-size: 140%; }
  .h5-res {
    font-size: 125%; } }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

/*Nav Section*/
nav {
  background-color: white; }

.nav__link a, .button-collapse {
  color: #106383; }

/*most be deleted*/
main {
  flex: 1 0 auto; }

/*Personal Page*/
/*Corporate*/
.indicator {
  background-color: #106383 !important; }

.tab a {
  color: #106383 !important; }

/*Contact us*/
.contact__main .row, .map {
  min-height: 70vh;
  width: 100%; }
